@using EntityLayer.Concrete
@model List<Admin>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div style="margin: 0px 20px 20px 20px" class="form-group">
    <table class="table table-bordered">
        <br />
        <h3>Kategori Listesi</h3>
        <tr>
            <th>#</th>
            <th>Kullanıcı Adı</th>
            <th>Rol</th>
            <th>Durum</th>
            <th>Pasif Yap</th>
            <th>Yetkiyi Düzenle</th>

        </tr>
        @foreach (var item in Model)
        {
    <tr>
        <th>@item.Id</th>
        <td>@item.UserName</td>
        <td>@item.Role</td>
        <td>@item.Status</td>
        <td>
            <a href="@Url.Action("Status", "AdminAuthorization", new { id = @item.Id })" id="status" class="btn btn-danger btn-sm">Pasif Bırak</a>
        </td>
        <td><a id="delet" class="btn  btn-info btn-sm" href="/AdminAuthorization/Edit/@item.Id">Yetkiyi Düzenle</a></td>
    </tr>
        }
    </table>
    <a class="btn btn-primary btn-sm " href="/AdminAuthorization/Add/">Yeni Admin Tanımla</a>
</div>

<script type="text/javascript">

    $('#status').on('click', function (e) {
        e.preventDefault();
        var url = $(this).attr('href');
        Swal.fire({
            title: '',
            text: "Yetkisi değiştirilecek emin misiniz?",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Evet',
            cancelButtonText: 'Vazgeç'
        }).then((result) => {
            if (result.value) {
                // Eğer kullanıcı 'Evet, sil!' butonuna tıklar ise burada ürünü silmek için gerekli kodları yazın
                $.ajax({
                    url: url,
                    type: 'POST',
                    success: function (result) {
                        if (result) {
                            Swal.fire(
                                '',
                                'Kullanıcının yetkisi başarılı bir şekilde değiştirildi.',
                                'success'
                            ).then(() => {
                                location.reload();
                            });
                        }
                    }
                });
            }
        });
    });


</script>

