@model EntityLayer.Concrete.Heading
@{
    ViewBag.Title = "Günçelleme İşlemi";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div style="margin: 0px 50% 20px 20px" class="form-group">
    <br />
    <h3>Başlığı Güncelle</h3>
    @using (Html.BeginForm("Update", "AdminHeading", FormMethod.Post))
    {
        @Html.Label("Kategori Adı", new { @class = "text-bold" })
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Name)
        <br />
        @Html.Label("Kategori", new { @class = "text-bold" })
        @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.Item, new { @class = "form-control" })
        <br />
        <button class="btn btn-info">Güncelle</button>
    }
</div>

