@model EntityLayer.Concrete.Category
@{
    ViewBag.Title = "Yeni Kategori";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<div style="margin: 0px 50% 20px 20px" class="form-group">
    <br />
    <h3>Yeni Kategori</h3>
    @using (Html.BeginForm("CategoryAdd", "AdminCategory", FormMethod.Post))
    {
        @Html.Label("Kategori Adı", new {@class = "text-bold"})
        @Html.TextBoxFor(x => x.Name, new {@class = "form-control"})
        @Html.ValidationMessageFor(x => x.Name)
        <br/>
        @Html.Label("Acıklama", new {@class = "text-bold"})
        @Html.TextAreaFor(x => x.Description, new {@class = "form-control"})
        @Html.ValidationMessageFor(x => x.Description)
        <br/>
        @Html.Label("Durum", new {@class = "text-bold"})
        @Html.TextBoxFor(x => x.Status, new {@class = "form-control"})
        <br/>
        <button class="btn btn-info">Kaydet</button>
    }
</div>